name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check: # this job does all tests so it can fail fast and cancel other jobs
    name: Fail Fast - Check Code Style, Lint, Build & Test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Check linting
        run: bun run lint:check
      - name: Check code style
        run: bun run format:check
      - name: Check build
        run: bun run build
      - name: Check tests
        run: bun test
      # Uncomment the following line to check test coverage
      # - name: Check testes & coverage
      #   run: pnpm run test:coverage

  bun-tests:
    name: Bun - Build & Test
    runs-on: ubuntu-latest
    needs: check
    if: success()
    permissions:
      contents: read

    strategy:
      matrix:
        bun-version: [latest]

    steps:
      - uses: actions/checkout@v4
      - name: Use Bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Test
        run: bun test

  bun-tests:
    name: Bun - Build & Test
    runs-on: ubuntu-latest
    needs: check
    if: success()
    permissions:
      contents: read

    strategy:
      matrix:
        bun-version: [latest]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Test
        run: pnpm test
