name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Fail Fast - Check Code Style, Lint, Build & Test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Check linting
        run: bun run lint:check

      - name: Check code style
        run: bun run format:check

      - name: Check build
        run: bun run build

      - name: Check tests
        run: bun test
      # Uncomment the following line to check test coverage
      # - name: Check tests & coverage
      #   run: bun test:coverage

  bun-tests:
    name: Bun - Build & Test
    runs-on: ubuntu-latest
    needs: check
    if: success()
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Use Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Test
        run: bun test
